<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-11-20T12:01:18Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mailund/Projects/hash/ChainedUniversalHashMap/ChainedUniversalHashMap.xcodeproj</string>
</dict>
</plist>
